:root {
    --black: rgba(0, 0, 0, 1);
    --body-font-family: "OpenSans-Regular", Helvetica;
    --body-font-size: 16px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: 0px;
    --body-line-height: 24px;
    --body-small-font-family: "OpenSans-Regular", Helvetica;
    --body-small-font-size: 14px;
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 24px;
    --dark-gray: rgba(112, 112, 112, 1);
    --white: rgba(255, 255, 255, 1);
  }
  