@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.stars-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vw * 1117 / 1728); /* Maintain aspect ratio */
  overflow: hidden;
  z-index: -1;
}
.login-failed {
  margin-block-start: 0;
  margin-block-end: 16px;
}
.click-below-to {
  margin: 0;
}
.message {
  position: absolute;
  margin: 0 !important;
  top: -17px;
  left: -63px;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 0;
}
.message-wrapper {
  top: 55px;
  left: -58px;
  width: 269px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.chip,
.message-wrapper,
.typeadvanced-inner {
  margin: 0 !important;
  position: absolute;
}
.typeadvanced-inner {
  top: 78px;
  left: 422px;
  width: 245px;
  height: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.chip {
  top: 336px;
  left: 428px;
  cursor: pointer;
  z-index: 1;
}
.typeadvanced {
  position: absolute;
  top: 19px;
  left: 20px;
  border-radius: var(--br-5xs);
  border: 2px solid var(--black);
  box-sizing: border-box;
  width: 760px;
  height: 436px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.typelinear-property-2securi {
  position: absolute;
  top: 192px;
  left: 122px;
  width: 160px;
  height: 145.56px;
}
.project-card {
  position: absolute;
  top: 317px;
  left: calc(50% - 402px);
  border-radius: var(--br-8xs);
  border: 1px dashed var(--white);
  box-sizing: border-box;
  width: 803px;
  height: 484px;
  overflow: hidden;
}
.profilerecovery {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  font-size: var(--body-size);
  color: var(--white);
  font-family: var(--font-roboto);
}
.profilerecovery.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
